@using Microsoft.AspNetCore.Mvc.Localization
@using repack.Entities
@model repack.ViewModels.TaskViewModel
@inject IViewLocalizer Localizer
<div class="row mt-5">
    <div class="col-6">
        <a href="~/stack/" class="btn btn-secondary">@Localizer["LabelBack"]</a>

    </div>
    <div class="col-6 text-right">
        <a href="~/task/edit/@Model.StackId" class="btn btn-primary">@Localizer["LabelCreateTask"]</a>

    </div>
</div>
@if (Model.Tasks.Any())
{
    <table class="table mt-3">
        <thead>
        <tr>
            <th>@Localizer["ThNumber"]</th>
            <th>@Localizer["ThName"]</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var task in Model.Tasks)
        {
            <tr@(!task.Enabled ? Html.Raw(" class=\"table-secondary\"") : null)>
                <td class="align-middle">@task.OrderNo</td>
                <td class="align-middle">@task.Name</td>
                <td class="align-middle text-right">
                    <a href="~/task/edit/@Model.StackId/@task.Id" class="mr-2 btn btn-sm @(task.Enabled? "btn-success" : "btn-secondary")">@Localizer["LabelEdit"]</a>
                    <a href="~/task/log/@Model.StackId/@task.Id" class="btn btn-sm @(task.Enabled ? "btn-warning" : "btn-secondary")">@Localizer["LabelLogs"]</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <p class="alert alert-secondary mt-3 text-center">@Localizer["NoTask"]</p>
}