@using Microsoft.AspNetCore.Mvc.Localization
@model repack.ViewModels.TaskViewModel
@inject IViewLocalizer Localizer
<div class="row mt-5">
    <div class="col-6">
        <a href="~/task/@Model.StackId" class="btn btn-secondary">@Localizer["LabelBack"]</a>
        @if (Model.Logs.Any())
        {
            <span class="ml-2">@Localizer["LabelRecent"] @(Model.Logs.Count) @Localizer["LabelLogs"]</span>
        }
    </div>
</div>
@if (Model.Logs.Any())
{
    <table class="table table-striped mt-3">
        <thead>
        <tr>
            <th>@Localizer["ThDate"]</th>
            <th>@Localizer["ThURL"]</th>
            <th>@Localizer["ThContent"]</th>
            <th>@Localizer["ThResponse"]</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var log in Model.Logs)
        {
            <tr>
                <td>@log.Created.ToString("yyyy-MM-dd HH:mm:ss")</td>
                <td><input type="text" class="form-control" value="@log.Url" readonly="readonly"/></td>
                <td>
                    <textarea class="form-control" rows="5" readonly="readonly">@log.Content</textarea>
                </td>
                <td>
                    <textarea class="form-control" rows="5" readonly="readonly">@log.Response</textarea>
                </td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <p class="alert alert-secondary mt-3 text-center">Has Never Sent</p>
}