@using Microsoft.AspNetCore.Mvc.Localization
@model repack.ViewModels.StackViewModel
@inject IViewLocalizer Localizer
<div class="row mt-5">
    <div class="col-6">
        <a href="~/stack/" class="btn btn-secondary">@Localizer["LabelBack"]</a>
    </div>
</div>
<form class="mt-3" action="~/stack/edit/@(Model.Stack.Id > 0 ? Model.Stack.Id.ToString() : "")" method="post">
    <div class="form-group">
        <label for="name">@Localizer["LabelName"]</label>
        <input type="text" class="form-control@(ViewData.ModelState.ContainsKey("Stack.Name") ? " is-invalid" : "")" id="name" placeholder="Stack Name" asp-for="Stack.Name">
        @if (ViewData.ModelState.ContainsKey("Stack.Name"))
        {
            <div class="invalid-feedback">
                @Localizer[ViewData.ModelState["Stack.Name"].Errors[0].ErrorMessage]
            </div>
        }
    </div>
    @if (Model.Stack.Id > 0)
    {
        <div class="form-group">
            <label for="token">@Localizer["LabelEndPoint"]</label>
            <div class="form-row align-items-center">
                <div class="col-auto">@(Model.BaseURL)/webhook/</div>
                <div class="col">
                    <input type="text" class="form-control" id="token" placeholder="Token" asp-for="Stack.Token" readonly="readonly">
                </div>
                <div class="col-auto">
                    <button type="button" id="get-token" class="btn btn-secondary">@Localizer["LabelTokenRefresh"]</button>
                </div>
            </div>
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="delete" asp-for="Delete">
            <label class="form-check-label" for="delete">@Localizer["LabelDelete"]</label>
        </div>
    }
    <div class="mt-3">
        <button type="submit" class="btn btn-primary">@Localizer["LabelSubmit"]</button>
    </div>
</form>
<script src="~/js/stack-edit.js"></script>