@using Microsoft.AspNetCore.Mvc.Localization
@model repack.ViewModels.StackViewModel
@inject IViewLocalizer Localizer
<div class="row mt-5">
    <div class="col-6">

    </div>
    <div class="col-6 text-right">
        <a href="~/stack/edit/" class="btn btn-primary">@Localizer["LabelCreateStack"]</a>
    </div>
</div>
@if (Model.Stacks.Any())
{
    <table class="table mt-3">
        <thead>
        <tr>
            <th>@Localizer["ThName"]</th>
            <th>@Localizer["ThEndPoint"]</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var stack in Model.Stacks)
        {
            <tr@(!stack.Enabled ? Html.Raw(" class=\"table-secondary\"") : null)>
                <td class="align-middle">@stack.Name</td>
                <td class="align-middle">@(Model.BaseURL)/webhook/@(stack.Token)</td>
                <td class="align-middle text-right">
                    <a href="~/stack/edit/@stack.Id" class="mr-2 btn btn-sm @(stack.Enabled ? "btn-success" : "btn-secondary")">@Localizer["LabelEdit"]</a>
                    <a href="~/task/@stack.Id" class="mr-2 btn btn-sm @(stack.Enabled ? "btn-info" : "btn-secondary")">@Localizer["LabelTasks"]</a>
                    <a href="~/stack/log/@stack.Id" class="btn btn-sm @(stack.Enabled ? "btn-warning" : "btn-secondary")">@Localizer["LabelLogs"]</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <p class="alert alert-secondary mt-3 text-center">@Localizer["NoStack"]</p>
}