@using Microsoft.AspNetCore.Mvc.Localization
@model repack.ViewModels.StackViewModel
@inject IViewLocalizer Localizer
<div class="row mt-5">
    <div class="col-6">
        <a href="~/stack/" class="btn btn-secondary">@Localizer["LabelBack"]</a>
        @if (Model.Logs.Any())
        {
            <span class="ml-2">@Localizer["LabelRecent"] @(Model.Logs.Count) @Localizer["LabelLogs"]</span>
        }
    </div>
</div>
@if (Model.Logs.Any())
{
    <table class="table table-striped mt-3">
        <thead>
        <tr>
            <th>@Localizer["ThDate"]</th>
            <th>@Localizer["ThRequestMethod"]</th>
            <th>@Localizer["ThRequestHeader"]</th>
            <th>@Localizer["ThRequestBody"]</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var log in Model.Logs)
        {
            <tr>
                <td>@log.Created.ToString("yyyy-MM-dd HH:mm:ss")</td>
                <td>@log.Method</td>
                <td>
                    <textarea class="form-control" rows="5" readonly="readonly">@log.Header</textarea>
                </td>
                <td>
                    <textarea class="form-control" rows="5" readonly="readonly">@log.Body</textarea>
                </td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <p class="alert alert-secondary mt-3 text-center">@Localizer["LabelNoLogs"]</p>
}