@using Microsoft.AspNetCore.Mvc.Localization
@using repack.Classes
@model repack.ViewModels.UserViewModel
@inject IViewLocalizer Localizer
<div class="row mt-5">
    <div class="col-6">
        <a href="~/user/" class="btn btn-secondary">@Localizer["LabelBack"]</a>
    </div>
</div>
<form class="mt-3" action="~/user/edit/@(Model.User.Id > 0 ? Model.User.Id.ToString() : "")" method="post">
    <div class="form-group">
        <label for="name">@Localizer["LabelID"]</label>
        @if (Model.User.Id > 0)
        {
            <input type="text" class="form-control" id="name" placeholder="@Localizer["LabelID"]" asp-for="User.Name" readonly="readonly">
        }
        else
        {
            <input type="text" class="form-control@(ViewData.ModelState.ContainsKey("User.Name") ? " is-invalid" : "")" id="name" placeholder="@Localizer["LabelID"]" asp-for="User.Name">
        }
        @if (ViewData.ModelState.ContainsKey("User.Name"))
        {
            foreach (var error in ViewData.ModelState["User.Name"].Errors)
            {
                <div class="invalid-feedback">@Localizer[error.ErrorMessage]</div>
            }
        }
    </div>
    <div class="form-group">
        <label for="password">@Localizer["LabelPassword"]</label>
        <input type="password" class="form-control@(ViewData.ModelState.ContainsKey("User.Password") ? " is-invalid" : "")" id="password" placeholder="@Localizer["LabelPassword"]" asp-for="User.Password" />
        @if (ViewData.ModelState.ContainsKey("User.Password"))
        {
            foreach (var error in ViewData.ModelState["User.Password"].Errors)
            {
                <div class="invalid-feedback">@Localizer[error.ErrorMessage]</div>
            }
        }
    </div>
    <div class="form-group">
        <label for="type">@Localizer["LabelUserType"]</label>
        
        <select class="form-control" id="type" asp-for="User.Type">
            <option value="@Define.AccountType.User">@Localizer["UserTypeCommon"]</option>
            <option value="@Define.AccountType.Administrator">@Localizer["UserTypeAdmin"]</option>
        </select>
    </div>
    
    @if (Model.User.Id > 0)
    {
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="delete" asp-for="Delete">
            <label class="form-check-label" for="delete">@Localizer["LabelDelete"]</label>
        </div>
    }
    <div class="mt-3">
        <button type="submit" class="btn btn-primary">@Localizer["LabelSubmit"]</button>
    </div>
</form>